@import "tailwindcss";

@theme {
  --font-family-bebas: var(--font-bebas), sans-serif;
}
@utility font-bebas {
  font-family: var(--font-bebas);
}

@theme {
  --font-family-bounded: var(--font-bounded), sans-serif;
}
@utility font-bounded {
  font-family: var(--font-bounded);
}

/* In globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@keyframes slideUpFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideInFade {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up-fade {
  animation: slideUpFade 300ms ease-in-out forwards;
}

.animate-slide-in-fade {
  animation: slideInFade 300ms ease-in-out forwards;
}
